body{
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: black;
  color: #b109a3;

}
.app {
  margin-top: 0px;
}

/* NAVBAR */
/* =====NAV BAR====*/
.my-nav{
  background-color: silver;
  text-align: center;
  position:relative;
  z-index: 999;
  width: 100%;
  margin: 0;
  color: #b109a3;
 
 
  }

  .logo {
    font-size: 20px;
    margin-left: 60px;
    
  }
  .logo-navbar{
    width: 50px;
    border-radius: 50%;
    padding: 10px;
  }

   .motto{
    text-align: center;
    font-family: Verdana;
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    color:#549A0A;
  }

  /* =====Hamburger=====3 lines in navbar */
  .nav-toggle-label span, 
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
  content: '';
  position: absolute;
  }
  
  .nav-toggle-label span::before {
  bottom: 7px;
  }
  
  .nav-toggle-label span::after {
  top: 7px;
  }
  
  .nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 550ms;
  
  }
  nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  background-color:rgb(222, 231, 206);
  width: 100%;
  transform: scale(1 , 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  
  }
  /* #cc88c9 */
  .links, .home{
  color: #b109a3;
  list-style: none;
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 1.2rem;
  text-decoration: none;  
  opacity: 0;
  transition: opacity 250ms ease-in-out 550ms;
  
  }
  .links:hover, .home:hover {
  color: #1ce681;
  }
  .nav-toggle:checked ~ nav{
  transform:scale(1,1) ;
  }
  .nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  }

  .bar-display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  header{
    margin-left: 100px;
  }

  #nav-toggle {
    display: none;
  }
  
  /* ======HOME==== */
  /* the home image on the carousel */
  .cover-photo {
    width: 350px;
    height: 250px;
    max-width: 100%;
    /* height: fit-content; */
    
  }
  .home-img{
    display: none;
  }
  

  /* div with text + order button */
  .my-home{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    /* margin: 50px; */
    padding: 15px;
    line-height: 35px;

    
  }
.tasty{
  color: #549A0A;
  font-size: 15px;
  font-style: italic;
  font-weight: 900;
}
 

  .hom{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .carosel{
    margin: 0px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    grid-gap: 20px;
    grid-auto-rows: 250px;
 
  }

 
  .control{
    position:absolute;
    display: flex;
   justify-content: space-between;
    align-items: center;
    top: 50%;
    width: 1px;
    transform:translateY(50%);
    display: none;

  }
  .control button {
    background-color: #eaf3ef;
    border-radius: 50%;
    opacity: 0.5;
       
  }
  
 

  /* ======ABOUT=== */

  .contacts{
  
    display: flex;
    flex-direction: column;
  }
  .img-icons{
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    margin: 0px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    grid-gap: 50px;
    grid-auto-rows: 250px;
  }
  .contact-icons{
    margin-left: 40px;
  }
  .social_item{
    border: solid 1px;
    margin: 25px;
    width: 100%;
    text-decoration: none;
    list-style: none;
    background-color: #a5afaaab;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 0px;
  }

  .contacts ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .contacts h1 {
    margin-top: 80px;
    margin-left: 10px;
  }
  .contact-image {
    margin-left: 25px;
    padding: 10px;
    border-radius: 15%;
    border-bottom-left-radius: 50%;
  }
.find-us, .heading-contact{
  margin: 0;
  color: #549A0A;
}

  /* =====MENU=== */
  .menu{
     display: flex; 
  }
 
  .menu-img{
    width: 200px;
    height: 150px;
    margin-right: 100px;
    border-radius: 30%;
  }
  .description {
    margin-left: 30px;
  }
  /* .cart-item{
    display: flex;
    justify-content:flex-start;
  } */
.cart-item{
 
  color: #b109a3;
  display: flex;
  margin: 50px;
}
@media (max-width:700px) {
  .cart-item{
    display: flex;
    flex-direction: column;
  }
  .menu{
    display: flex;
    flex-direction: column;
  }
  hr{
    width: 100%;
  }
  .place-order{
    margin: 50px;
  }
  .my-home{
    margin: 0;
  }
  .text{
    text-align: justify;
  }
}


.cart-page{
  /* width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: auto; 
  grid-auto-rows: 200px; */
}
.heading{
  color: #549A0A;
}
/*  */