body{
  margin: 0;
  padding: 0;
  align-items: center;
  /* background-color: #549A0A; */
  /* background-image: url('./img/foodplant.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh; */
}
.app {
  margin-top: 0;
  /* background-color: #1ce681; */
  /* background-color: saddlebrown; */
}

/* NAVBAR */
/* =====NAV BAR====*/
.my-nav{
  background-color: silver;
  text-align: center;
  position:absolute;
  z-index: 999;
  width: 100%;
  margin: 0;
 
  }

  .logo {
    font-size: 20px;
  }
  .logo-navbar{
    width: 50px;
    border-radius: 50%;
    padding: 10px;
  }

  .img-contact-motto{
    display: flex;
    flex-direction: column;
  }
  .motto{
    text-align: center;
    font-family: Verdana;
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    color:#549A0A;
  }

  /* =====Hamburger=====3 lines in navbar */
  .nav-toggle-label span, 
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
  content: '';
  position: absolute;
  }
  
  .nav-toggle-label span::before {
  bottom: 7px;
  }
  
  .nav-toggle-label span::after {
  top: 7px;
  }
  
  .nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 550ms;
  
  }
  nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  background-color:rgb(222, 231, 206);
  width: 100%;
  transform: scale(1 , 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  
  }
  /* #cc88c9 */
  .links, .home{
  color: #b109a3;
  list-style: none;
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 1.2rem;
  text-decoration: none;  
  opacity: 0;
  transition: opacity 250ms ease-in-out 550ms;
  
  }
  .links:hover, .home:hover {
  color: #1ce681;
  }
  .nav-toggle:checked ~ nav{
  transform:scale(1,1) ;
  }
  .nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  }

  .bar-display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  header{
    margin-left: 100px;
  }

  #nav-toggle {
    display: none;
  }
  
  /* ======HOME==== */
  /* the home image on the carousel */
  .cover-photo {
    width: 100%;
    height: fit-content;
    
  }

  button{
    background-color: #549A0A;
    width: 160px;
    height: 48px;
    border-radius: 10px;

  }
  /* div with text + order button */
  .my-home{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 15px;
    line-height: 35px;

    
  }
  .button{
    margin-top: 30px;
  }

  /* arrows to move images */
  #image-next-slide, #image-prev-slide {
background-color: white;
border: none;
font-size: 30px;
margin: 0;
padding: 15%;

  }

  .sub-head{
    color: #549A0A;
  }
  .image {
    width: 100%;
  }
  .text, .heading{
    color: rgb(65, 65, 3);
    background-position-x: center;
    position: relative;
  }
  .hom{
    display: flex;
    flex-direction: column;
    /* background-color: #549A0A; */
    margin: 0;
  }

  .carosel{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: 300px;
    border: red solid;
    /* width: 100%;
    padding: 0px;
    height: 50vh;
    /* border: yellow solid;
    margin-left: 30px;
    margin: 150px 30px; */
  
  }
 
  .control{
    position:absolute;
    display: flex;
   justify-content: space-between;
    align-items: center;
    top: 50%;
    width: 1px;
    transform:translateY(50%);
    display: none;

  }
  .control button {
    background-color: #eaf3ef;
    border-radius: 50%;
    opacity: 0.5;
       
  }
  
 

  /* ======ABOUT=== */
  /* .about{
    color: #1ce681;
  } */
  /* .about-image{
    width: 316px;
    height: 313px;
    border-radius: 50%;
  } */

  .contacts{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 250px; */
    display: flex;
    flex-direction: column;
  }
  .img-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }
  .contact-icons{
    margin-left: 40px;
  }
  .social_item{
    border: solid 1px;
    margin: 25px;
    width: 100%;
    text-decoration: none;
    list-style: none;
    background-color: #a5afaaab;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 0px;
  }

  .contacts ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .contacts h1 {
    margin-top: 80px;
    margin-left: 10px;
  }
  .contact-image {
    margin-left: 25px;
    padding: 10px;
    border-radius: 15%;
    border-bottom-left-radius: 50%;
  }


  /* =====MENU=== */
  .menu{
    background-color: #1ce681;
  }
  .menu-image{
    width: 500px;
    height: 300px;
    border: red solid;
  }
  .menu-img{
    width: 100%;
    height: auto;
    border-radius: 30%;
  }

  /* ======ICONS===== */

.favorite {
  color: var(--red);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.ri-heart-fill {
  opacity: .7;
}

.ri-delete-bin-line, .ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.cart {
  color: var(--blue);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.cart-item {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: auto;
}

@media (max-width:700px) {
  .text, .button, .my-home{
    margin: 5px;
    padding: 0;
    /* border: red solid; */
  }
  .my-nav{
    margin: 0;
  }
  .bar-display {
    position:relative;
  }
  .app{
    position:absolute;
  }
  .cover-photo{
    margin-top: 20px;
    width: 100%;
  }
  .logo{
    margin-left: 100px;
    
  }
  .carosel{
max-width: 100%;
border: #1ce681 solid;
  }
 
  .social_item{
    border: solid 1px;
    margin: 20px;
    width: 90%;
    text-decoration: none;
    list-style: none;
    background-color: #a5afaaab;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    
  }
  .social_item:hover, :focus{
    background-color: #549A0A;

  }

  .contacts ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
 
  .contacts h1 {
    margin-top: 80px;
    margin-left: 10px;
  }
  .contact-image {
    margin-left: 25px;
    padding: 10px;
    border-radius: 15%;
    border-bottom-left-radius: 50%;
  }
  .logo-navbar{
    margin-right: 20px;
  }

  .img-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .motto{
    font-size: 12px;
    text-align: center;
  }
  .contacts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
  
  }
  .app{
    width: 100%;
    margin: 0;
  
  }
  .my-nav{
    width: 100%;
    margin: 0;
  }
  .logo-navbar{
    width: 30px;
  }
}